# Byte-compiled / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env

# SQLite DB
*.db
instance/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# distributions/build
build/
dist/
*.egg-info/
