.card-header {
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  padding-left: 60px;
}
.card-header h1 {
  color: white;
}

.card-header h1 span {
  font-size: 32px;
  display: block;
  margin-top: 10px;
  color: orangered;
}

.card-header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: orangered;
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;
  align-self: start;
}

.card-body {
  margin: 0px auto;
  padding: 20px;
}

.card-body h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.destaques-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: orangered;
  margin: 10px auto;
}

.destaques {
  display: flex;
  justify-content: space-around;
}

.destaques-item {
  list-style: none;
  background-color: #f8f8f8;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 0px 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.destaques-item .material-symbols-outlined {
  font-size: 32px;
  color: orangered;
}

.destaques-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
  gap: 30px;
}

.destaques-imagem {
  display: grid;
  place-items: center;
  padding: 20px;
}

.destaques-imagem img {
  width: 100%;
  border-radius: 5px;
}

.destaques-texto {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 50px 0;
  align-items: center;
}

.card-comment {
  background-color: #f8f8f8;
  padding: 20px;
}

.card-comment h2 {
  flex: 1;
  text-align: center;
}

.comment-block {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.comment {
  flex: 1;
  display: grid;
  background-color: white;
  padding: 20px;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.comment div {
  background-color: #c6c4c4;
  width: 100%;
  height: 1px;
  margin: 5px auto;
}

.comment-title::after {
  content: '';
  display: block;
  background-color: orangered;
  width: 80px;
  height: 3px;
  margin: 10px auto;
}

.about-status {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}


.container {
  max-width: 1200px;
  margin: auto auto;
  padding: 0 20px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 30px;
}

.about-info {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  gap: 20px;
}

.about-title {
  text-align: center;  
}

.about-title::after {
  content: '';
  display: block;
  background-color: orangered;
  width: 80px;
  height: 3px;
  margin: 10px auto;
}

.about-status {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.about-imagem {
  display: grid;
  place-items: center;
  padding: 20px;
}

.about-imagem img {
  width: 100%;
  border-radius: 5px;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.status-valor {
  text-align: center;
  color: orangered;
  font-size: 28px;
  font-weight: 600;
}

.about-imagem {
  grid-column: 2;
}

.about-imagem img {
  width: 100%;
}