main {
  place-self: center;
  height: 100%;
  display: flex;
  align-items: center;
  
}

h2 {
  color: white;
}

.container {
  justify-items: center;
  background-color: white;
  width: 60vh;
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.container-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 50px;
  justify-items: center;
  align-content: center;
  background-color: orangered;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.header-title {
  color: rgb(244, 230, 225);
}

.header-subtitle {
  margin-top: 20px;
  color: #ecdeda;
}

.container-auth {
  display: flex;
  border-bottom: 1px solid #ecdeda;
}

.auth-button {
  flex: 1;
  padding: 15px;
  background: #ececec;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.auth-button.active {
  background: white;
  color: orangered;
  border-bottom: 3px solid orangered;
}

.form-container {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

.form-section {
  display: none;
}

.form-section.active{
  display: block;
}

.form-group {
  border: none;
  padding: 20px;
  display: grid;
  gap: 10px;
  height: max-content;
}


.form-control-label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0;
}

.form-control-lg {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid orangered;
  border-radius: 10px;
  font-size: 15px;
}

.btn {
  margin: 15px;
  border: none;
  padding: 10px 20px;
  background-color: orangered;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer
}
